html {
  height: 100vh;
}
body {
  height: 100vh;
  background-color: #eee;
}

#header {
  background: linear-gradient(rgb(22, 0, 59, 0.8), rgb(22, 0, 59, 0.8)),
    url("../public/bg.jpg");
  background-position: center;
  background-size: cover;
}
